{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "react"
    ],
    "plugins": [
        [
            "react-css-modules",
            {
                "generateScopedName": "[path]-[name]-[local]-[hash:base64:6]",
                "filetypes": {
                    ".scss": {
                      "syntax": "postcss-scss"
                    }
                  }
            }
        ],
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }],
        "syntax-dynamic-import",
        "transform-object-rest-spread"
    ]
}