.wrap {
    min-width: 1200px;

    >div {
        position: relative;
    }
}

.header {}

.content {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    padding: 50px;

    .contentHeader {
        background: transparent;
    }

    .listWrap {
        flex: 1;
    }
}

.tabWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    :global(.ant-form-item) {
        margin-bottom: 0;
    }

    :global(.ant-calendar-picker) {
        width: 100% !important;
    }
}

.headerTop {

}

