.wrap{
    min-width: 1200px;
    >div{
        position: relative;
    }
}
.header{
    
}
.content{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 50px;
    .notification{
        width:260px;
        margin-right: 50px;
        background: rgba(0, 255, 0, 0.1)
    }
    .listWrap{
        flex: 1;
    }
}
.tabWrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}