<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,width=device-width,user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
      <script type="text/javascript">
        window.onresize = function () {
            document.documentElement.style.fontSize = (document.documentElement.clientWidth > 1200 ? document.documentElement.clientWidth : 1200) / 1920 * 100 + 'px';
          }
          document.addEventListener('DOMContentLoaded', function () {
            document.documentElement.style.fontSize = (document.documentElement.clientWidth > 1200 ? document.documentElement.clientWidth : 1200) / 1920 * 100 + 'px';
          }, false);
      </script>
      <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=1FrQkWQzfhQgyhTVUaZQLBsB7VhXS9W3"></script>
      <div id="appContainer" style="min-width:1200px; height: 100%"></div>
  </body>
</html>