.fromWrap{
    :global(.ant-calendar-picker){
        width: 100% !important;
    }
    :global(.ant-form-item){
        margin-bottom: 5px;
    }
    :global(.ant-form-item-children){
        display: flex;
        .waitTime{
            width:100%;
        }
    }
}