$main-back: #0f0;
$route-back: #aaa;
$main-back-alpha: .9;
$main-back-color: rgba($main-back, $main-back-alpha);
$route-back-color: rgba($route-back, $main-back-alpha);

.wrap {
    height: calc(100% - 40px);
}

.map {
    width: 100%;
    height: 100%;
    background-color: $main-back-color;
}

.routes {
    position: fixed;
    top: 40px;
    left: 0;
    width: 550px;
    height: 100%;
    background-color: $route-back-color;
}

